<head>
</head>
<style>
  .MrBombastic {
    background-color: magenta;
    text-align: center;
  }
  .dugme{
    height: 50px;
    width: 150px;
    text-align: center;
  }
</style>
<body>
  <app-heroes>
  </app-heroes>  
  <div class="MrBombastic">
    <h1>
      header for mrbombastic
    </h1>
    <p>
      They call me mr bombastic
    </p>
      <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">
        <button class="dugme" >press for fun time</button>
      </a>
  </div>
</body>